<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{barTitle}}</title>

    <body>
        <h1>We'll be right back</h1>
        <p>We are currently doing maintenance on the site.</p>
    </body>
</head>

</html>