<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{barTitle}}</title>

    <body>
        {{> header}}
        <p>{{screamIt "Project Info Here"}}</p>

        {{> footer}}
    </body>
</head>

</html>